<h1>Daily Forecast</h1>

<% @days.each do |day| %>
  <div>
    <%= "Day: #{day.day}" %>
  </div>
  <div>
    <% if day.day_recorded %> 
      <%= "High: #{day.high}" %>
      <%= "Day Forecast: #{day.day_details}" %>
    <% end %>
  </div>
  <div>
    <% if day.night_recorded %>
      <%= "Low: #{day.low}" %>
      <%= "Night Forecast: #{day.night_details}" %>
    <% end %>
  </div>
<% end %>
